<!DOCTYPE html>
<html lang="en">
<head>
   <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://public.tableau.com/javascripts/api/tableau-2.2.2.min.js"></script>
  <script src="javascripts/Script_grafico.js">
  </script>
</head>
<body onload="initViz();">
<a href="index.ejs" class="">
<img src="images/boton_inicio.png" style="width: 100px" style="height: 100px" ></a>
<h1 align="center" >Sistema Informatico</h1>
<div id="vizContainer" >
</div>
</body>
</html>
