<!DOCTYPE html>
<html lang="en">
<head>
   <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<a href="http://localhost:3000/" >
<img src="/images/boton_inicio.png" style="width: 100px" style="height: 100px" ></a>
<pr>
  <h2 align="center">Sistema de descubrimiento de conocimiento</h2> 
    <h2 align="center"> a partir de datos censales y de negocio</h2></pr>
<div class="listas">
  <p>Contacto:</p>
    <ul >
    <li>Telefono :67778887</li>
    <li>Direccion:C/Santo tomas (Madrid).</li>
    <li>Empresa:Udima.  </li>
    <li>Correo:mundo_bi@udima.es   </li>
  </ul>
</div>
</body>
</html>
