<!DOCTYPE html>
<html lang="en">
<head>
   <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
   <pr>
      <h2 align="center">Sistema de descubrimiento de conocimiento</h2> 
        <h2 align="center">a partir de datos censales y de negocio</h2></pr>
<button  class="browserupgrade" onclick="window.location='weka.ejs'">Pagina Anterior </button> &nbsp;
<h2>Proceso terminado</h2>
</body>
</html>
